<div class="show-quizzes">
  <div class="container">
    <h1 class="text-center">All Quizzes</h1>

    <div class="quiz-card">
      <div class="card">
        <% @quizzes.each do |quiz| %>

        <div class="card-body">
          <div class="card-title">
            <%= link_to quiz.title, quiz_path(quiz) %>
          </div>
          <div class="card-text">
            <%= truncate(quiz.description, length: 100) %>
          </div>

          <div class="article-actions">
            <div class="btn btn-group">
              <%= link_to 'Edit', edit_quiz_path(quiz), class: "btn btn-primary btn-md" %>
              <%= link_to 'Delete', quiz, class: "btn btn-danger btn-md", method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        </div>

        <% end %>

      </div>
      <div class="col-md-8">
        <%= link_to 'New Quiz', new_quiz_path, class: "btn btn-info btn-lg" %>
      </div>
    </div>

  </div>
</div>
