<div class="quiz_question">
  <div class="container">
    <%= form_with(model: quiz_question, local: true) do |f| %>
      <% if quiz_question.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(quiz_question.errors.count, "error") %>
            prohibited this quiz_question from being saved:</h2>

          <ul>
            <% quiz_question.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <!-- <div class="form-group">
        <div class="field">
          <%= f.label :question, "Question" %>
          <%= f.text_field :name, class: "form-control col-md-8", placeholder: "Question Description", autofocus: true %>
        </div>
      </div> -->
      <h1 class="text-center">New Quiz Question</h1>

      <div class="form-group">
        <div class="field">
          <%= f.label :description,  'Question Description', :class => 'control-label' %>
          <%= f.text_area :description, rows: 7, class: "form-control col-md-8", placeholder: "Describe the quiestion...", autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="field">
          <%= f.radio_button :correct_answer, true %>
          <%= f.label :correct_answer, "Correct" %>
        </div>
      </div>

      <div class="form-group">
        <div class="field">
          <%= f.radio_button :correct_answer, false %>
          <%= f.label :correct_answer, "Incorrect" %>
        </div>
      </div>

      <div class="dropdown btn text-center" style="background-color: #fff; margin: 0;">
        <%= select_tag(:quiz_id, options_for_select(@quizzes), :prompt => "Select Quiz", class: "dropdown-item btn-dropdown btn btn-light btn-category") %>
      </div>

      <div class="actions">
        <%= f.submit class: "btn btn-light btn-md"%> <br>
      <%= link_to 'Go Back to Quizzes', quizzes_path, class: "btn btn-outline-light btn-md" %>
      </div>
    <% end %>

  </div>
</div>
