<div class="show-quiz_questions">
  <div class="container">

      <h1 class="text-center">Quiz Questions</h1>

      <div class="row">
        <% @quiz_questions.each do |quiz_question| %>
        <div class="card text-white bg-dark text-center" style="max-width: 18rem;">
          <div class="card-header text-center">
            <%= "#{quiz_question.description}" %>
          </div>
          <div class="card-body">
            <p class="card-text text-center"><%= "ID: #{quiz_question.id}" %></p>
          </div>
          <div class="card-footer">
            <div class="btn btn-group">
              <%= link_to 'Show', quiz_question, class: "btn btn-info btn-sm" %>
              <%= link_to 'Edit', edit_quiz_question_path(quiz_question), class: "btn btn-primary btn-sm" %>
              <%= link_to 'Destroy', quiz_question, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
          </div>
          </div>
        </div>
        <% end %>
      </div>

      <%= link_to 'New Quiz Question', new_quiz_question_path %>

  </div>
</div>
